body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
}

.content {
  padding: 16px;
}

ul.nav{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}
li.nav{
  float:right;
}
li.nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

li.nav a:hover{
  background-color: #111;
  color: white;
}

 .flexrow{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 5% 10% 5% 10%;
 }
 .flexcol{
   display: flex;
   flex-direction:column;
   flex-wrap: wrap;
   width:80%;
 }
 .flexcol-intro{
   display: flex;
   flex-direction:column;
   flex-wrap: wrap;
   width:500px;
 }
.flexrow-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 0 0 0;
  width:100%;
}

#work{}
#resume{}
#about{}

iframe{
  width: 800px;
  height: 1030px;
}
  @media only screen and (max-width: 600px) {

iframe{
  width: 300px;
  height: 386px;
}
.flexcol-intro{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  width:300px;
}


  }
