/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
}

.content {
  padding: 16px;
}

ul.nav{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}
li.nav{
  float:right;
}
li.nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

li.nav a:hover{
  background-color: #111;
  color: white;
}

 .flexrow{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 5% 10% 5% 10%;
 }
 .flexcol{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   width:80%;
 }
 .flexrow-intro{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: Center;
       -ms-flex-pack: Center;
           justify-content: Center;
   padding: 10% 10% 0 10%;
 }
 .flexcol-intro{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   padding:0 0 0 5%;
 }
.flexrow-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5% 0 0 0;
  width:100%;
}

#work{}
#resume{}
#about{}

iframe{
  width: 800px;
  height: 1030px;
}
  @media only screen and (max-width: 600px) {

iframe{
  width: 300px;
  height: 386px;
}
.flexrow-intro{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 10% 0 10%;
}

  }
